@(pelicula : Pelicula) 
@head = {
<link href="@routes.Assets.at("	stylesheets/cliente/fichaPelicula.css")" rel="stylesheet" />
} 
@wrapper("Comprar entrada para: @pelicula.titulo", null)(head){

<h2 align="center">@pelicula.titulo</h2>

<div class="content-center">
	<H3 align="center">Asignación de butacas</H3>
	<form>
		<table class="table table-hover">
			<tr>
				<td><p>Fila 1</p>
				
				<td><button class="btn btn-success" >1</button></td>
				<td><button class="btn btn-success" >2</button></td>
				<td><button class="btn btn-success" >3</button></td>
				<td><button class="btn btn-danger" >4</button></td>
				<td><button class="btn btn-danger" >5</button></td>
				<td><button class="btn btn-danger" >6</button></td>
				<td><button class="btn btn-danger" >7</button></td>
				<td><button class="btn btn-success" >8</button></td>
				<td><button class="btn btn-success" >9</button></td>
				<td><button class="btn btn-success" >10</button></td>
				
		
			</tr>
			
			
			
			@for(i <- 2 to 10) {
			<tr>
				<td><p>Fila @i</p>
				
				<td><button class="btn btn-success" >1</button></td>
				<td><button class="btn btn-success" >2</button></td>
				<td><button class="btn btn-success" >3</button></td>
				<td><button class="btn btn-success" >4</button></td>
				<td><button class="btn btn-success" >5</button></td>
				<td><button class="btn btn-success" >6</button></td>
				<td><button class="btn btn-success" >7</button></td>
				<td><button class="btn btn-success" >8</button></td>
				<td><button class="btn btn-success" >9</button></td>
				<td><button class="btn btn-success" >10</button></td>
				
		
			</tr>
			
			}
		
		
		</table>

		<button align="center" type="submit" class="btn btn-primary">Pagar</button>
	</form>

</div>
}
