@(pelicula : Pelicula)


@head = {
	<link href="@routes.Assets.at("stylesheets/cliente/fichaPelicula.css")" rel="stylesheet" />
}

@wrapper("Comprar entrada para: @pelicula.titulo", null)(head){
	
<div id="cartel" class="thumbnail span2 text-center">	
<img src="@pelicula.cartelURL" />
<h3 class="text-center">@pelicula.titulo</h3>
<div class="thumbnail">
<strong>Cantidad: </strong> &nbsp;4<br />
<strong>Precio: </strong> &nbsp;6€ <br />
<strong>Total: </strong> &nbsp;24€ <br />
</div>
<br />
<button type="submit" form="butacas" class="btn btn-primary">Confirmar compra</button>
</div>



<div class="content-center">
		<H3 align="center">Asignación de butacas</H3>
		<form id="butacas" action="/pelicula/pagar" method="get">
			<table class="table table-hover">
			<tr>
				<td><p>Fila 1</p>
				
				<td><button class="btn btn-success" >1</button></td>
				<td><button class="btn btn-success" >2</button></td>
				<td><button class="btn btn-success" >3</button></td>
				<td><button class="btn btn-danger" >4</button></td>
				<td><button class="btn btn-danger" >5</button></td>
				<td><button class="btn btn-danger" >6</button></td>
				<td><button class="btn btn-danger" >7</button></td>
				<td><button class="btn btn-success" >8</button></td>
				<td><button class="btn btn-success" >9</button></td>
				
		
			</tr>
			
			
			
			@for(i <- 2 to 9) {
			<tr>
				<td><p>Fila @i</p>
				
				<td><button class="btn btn-success" >1</button></td>
				<td><button class="btn btn-success" >2</button></td>
				<td><button class="btn btn-success" >3</button></td>
				<td><button class="btn btn-success" >4</button></td>
				<td><button class="btn btn-success" >5</button></td>
				<td><button class="btn btn-success" >6</button></td>
				<td><button class="btn btn-success" >7</button></td>
				<td><button class="btn btn-success" >8</button></td>
				<td><button class="btn btn-success" >9</button></td>
				
		
			</tr>
			
			}
		
		
		</table>
		</form>

	</div>
}
