@(pelicula : Pelicula) 

@import helper._

@head = {
	<link href="@routes.Assets.at("stylesheets/cliente/fichaPelicula.css")" rel="stylesheet" />

	<script>
		function verCaratula(url) {
			window.open(url,'@pelicula.titulo','height=700, width=700, left=10, top=10, resizable=no, scrollbars=no, toolbar=no, menubar=no, location=no, directories=no, status=no')
		}
	</script>
}

@wrapper("Entrecine: @pelicula.titulo", null)(head){

<div class="content-center">
	<div class="media">
		<a class="pull-left thumbnail" href="JavaScript:verCaratula('@pelicula.cartelURL');">
					<img class="media-object span4" src="@pelicula.cartelURL" alt="Cartel de la película" />
  		</a>
  		<div class="media-body thumbnail">
   		
    		<h3 class="media-heading">@pelicula.titulo     		
    			<a href="@routes.ClienteController.comprarEntrada()#@pelicula.id"><button class="btn btn-primary btn-small btn-comprar">Comprar entradas</button></a>
    		</h3>

    		<br /><p>
    		<strong>Género:&nbsp;</strong>@pelicula.genero
    		</p><p>
    		<strong>Duración:&nbsp;</strong>@pelicula.duracion min.
    		</p><p>
    		<strong>Primera emisión:&nbsp;</strong>@pelicula.fechaInicioCartelera.format("dd/MM/yyyy")
    		</p><p>
    		<strong>Última emisión:&nbsp;</strong>@pelicula.fechaFinCartelera.format("dd/MM/yyyy")
    		</p>
 
  		</div>
	</div>
	<div id="sinopsis" class="thumbnail sinopsis">
	<p>@pelicula.sinopsis</p>
</div>
</div>


}
