@(peliculas : List[Pelicula], peliculaForm : Form[Pelicula], usuario: Usuario)

@head = {
	<link href="@routes.Assets.at("stylesheets/cliente/index.css")" rel="stylesheet" />
}

@wrapper("Entrecine", usuario)(head) {
	
	<div class="container-pelis">
		<div class="row container-pelis-inner">
			<ul class="thumbnails">
				@for(pelicula <- peliculas) {
				<li class="span2">
    				<a href="@routes.ClienteController.verFichaPelicula(pelicula.id)" class="thumbnail">
      				<img src="@pelicula.cartelURL" alt="CARTEL"></a>
      				<h5 class="text-center">@pelicula.titulo</h5>
  				</li>
  				}
			</ul>
		</div>
	</div>
		    
}
