@(peliculas : List[Pelicula], peliculaForm : Form[Pelicula])

@import helper._

@wrapper("Entrecine") {

	<h1>Que pasa Blasa!</h1>
	<br /><br />

	<h3>Tengo @peliculas.size() pelicula(s) <a href="http://www.youtube.com/watch?v=4WG5TvUEq50">Yo tengo 3 piscina</a></h3>
	
	@for(pelicula <- peliculas){
		<ul>
			<li>Título: @pelicula.titulo</li>
			<li>Género: @pelicula.genero</li>
			<li>Sinopsis: @pelicula.sinopsis</li>
			<li>Duración: @pelicula.duracion min</li>
			<li>Fecha inicio emisión: @pelicula.fechaInicioCartelera.format("dd/MM/yyyy")</li>
			<li>Fecha fin emisión: @pelicula.fechaFinCartelera.format("dd/MM/yyyy")</li>
			<li>Sesiones
			<ul>
			@for(sesion <- pelicula.sesiones) { 
				<li> @sesion.id,  @sesion.sala.nombre</li> 
				}
			</ul>
			</li>
			<br />
			
			@form(routes.Cliente.comprarEntrada(pelicula.id)){
				<input type="submit" value="Comprar entrada" class="btn btn-primary">
			}
			
		</ul>
		}
		    
}
