@import helper._ 

@head = {<link href="@routes.Assets.at("stylesheets/cliente/tickets.css")" rel="stylesheet" />} 

@wrapper("Entrecine - Entradas", null)(head) {


	<div class="text-center">
	<br />
		<h1>Entradas</h1>
	</div>
	
<div class="row">
	<div class="offset4 span5">
	<div class="thumbnail">
	
	<div class="info">
	<h4>Memorias de un zombie adolescente</h4>

	<p><strong>Sesión:</strong> jueves 9/05/2013 21:30</p>
	<p><strong>Fila:</strong> 1</p>
	<p><strong>Butaca:</strong> 4</p>
	<p><strong>Precio:</strong> 6€</p>
	</div>
	
	<div class="codigo">
	<img id="code" src="/assets/images/ticket_code.png" alt="00042736" height="180px" width="180px"/>
	</div>
			<div style="clear: both;"></div>
	</div>

	</div>

</div>
	

}