@(pelicula : Pelicula) 

@import helper._

@head = {
	<link href="@routes.Assets.at("stylesheets/admin/fichaPelicula.css")" rel="stylesheet" />

	<script>
		function verCaratula(url) {
			window.open(url,'@pelicula.titulo','height=700, width=700, left=10, top=10, resizable=no, scrollbars=no, toolbar=no, menubar=no, location=no, directories=no, status=no')
		}
	</script>
}

@wrapper("Ficha: @pelicula.titulo")(head){

<div class="content-center">
	<div class="media">
		<a class="pull-left thumbnail" href="JavaScript:verCaratula('@pelicula.cartelURL');">
					<img class="media-object span4" src="@pelicula.cartelURL">
  		</a>
  		<div class="media-body thumbnail">
   		
    		<h3 class="media-heading">@pelicula.titulo     		
    			<a href="@routes.AdminController.editarPelicula(pelicula.id)"><button class="btn btn-primary btn-small btn-editar">Editar</button></a>
    			<a href="@routes.AdminController.eliminarPelicula(pelicula.id)"><button class="btn btn-danger btn-small btn-eliminar">Eliminar</button></a>
    		</h3>

    		<br /><p>
    		<strong>Género:&nbsp;</strong>@pelicula.genero
    		</p><p>
    		<strong>Duración:&nbsp;</strong>@pelicula.duracion min.
    		</p><p>
    		<strong>Primera emisión:&nbsp;</strong>@pelicula.fechaInicioCartelera.format("dd/MM/yyyy")
    		</p><p>
    		<strong>Última emisión:&nbsp;</strong>@pelicula.fechaFinCartelera.format("dd/MM/yyyy")
    		</p>
 
  		</div>
	</div>
	<div id="sinopsis" class="thumbnail sinopsis">
	<p>@pelicula.sinopsis</p>
</div>
</div>

<div class="content-center">
	<table class="table table-hover">
  		<caption>Sesiones disponibles</caption>
  		<thead>
   		 <tr>
      		<th>lunes</th>
      		<th>martes</th>
      		<th>miércoles</th>
      		<th>jueves</th>
    	 </tr>
  		</thead>
  
  		<tbody>
   		 <tr>
      		<td><a href="#">17:00</a></td>
      		<td><a href="#">19:00</a></td>
      		<td></td>
      		<td><a href="#">16:45</a></td>
   		 </tr>
   		   <tr>
      		<td><a href="#">13:30</a></td>
      		<td><a href="#">16:45</a></td>
      		<td><a href="#">17:00</a></td>
      		<td><a href="#">19:00</a></td>
   		 </tr>
  		</tbody>
	</table>
</div>

}
