@(peliculas : List[Pelicula], peliculaForm : Form[Pelicula])

@import helper._

@wrapper("Entrecine") {

	<h1>Ese Admin!</h1>
	<br /><br />

	<h3>Tengo @peliculas.size() pelicula(s)</h3>
	
	<div class="btn-group">
		
		<button class="btn">
  		@form(routes.AdminController.nuevaPelicula(), 'method -> "GET"){
			<input class="btn" type="submit" value="Añadir película"/>
		}
		</button>
		
		<button class="btn">
		@form(routes.AdminController.verSalas(), 'method -> "GET"){
			<input class="btn" type="submit" value="Salas"/>
		}
		</button>
		
		<button class="btn">
		@form(routes.AdminController.verSesiones(), 'method -> "GET"){
			<input class="btn" type="submit" value="Sesiones"/>
		}
		</button>
	</div>
	
	<br/><br/>
	
	@for(pelicula <- peliculas){
		<strong>Título: @pelicula.titulo</strong>
		<ul>
			<li>Género: @pelicula.genero</li>
			<li>Sinopsis: @pelicula.sinopsis</li>
			<li>Duración: @pelicula.duracion min</li>
			<li>Fecha inicio emisión: @pelicula.fechaInicioCartelera.format("dd/MM/yyyy")</li>
			<li>Fecha fin emisión: @pelicula.fechaFinCartelera.format("dd/MM/yyyy")</li> 
			
			<br />
						
			@form(routes.AdminController.eliminarPelicula(pelicula.id)){
				<input type="submit" value="Eliminar" class="btn btn-danger">
			}
			
		</ul>
		}
		
	
    
}
